* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mulish';
    src: url(../fonts/mulish-medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'material-icons';
    src: url(../icons/material-symbols-outlined.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* https://github.com/google/material-design-icons/tree/master/font */

.title {
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    font-family: 'mulish';
}

.desc-title {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'mulish';
}

body {
    background-color: rgb(199, 199, 199);
}

/*****************  CARDS  *****************/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 50px;
    width: 90%;
    margin: 80px auto 0 auto;
}

.card {
    width: 300px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(199, 199, 199);
    overflow: hidden;
    font-family: 'mulish';
}

.card:hover {
    border: 2px solid rgb(68, 68, 68);
}

.card > img {
    width: 100%;
}

.card > .text-card {
    padding: 10px;
}  

.card > .text-card > h4 {
    text-align: center;
    margin-bottom: 5px;
}

.card > .text-card > p {
    
}

/*****************  TOOLBAR  *****************/

.toolbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(134, 134, 134);
    display: flex;
    align-items: center;
}

.toolbar > #open-menu {
    display: none;
}

.toolbar > label {
    display: inline-block;
    text-align: center;
    /* background-color: rgb(121, 170, 170);*/
    font-family: 'mulish';
    cursor: pointer;
    font-size: 25px;
}

.material-symbols-outlined {
    display: inline-block;
    border: 1px solid rgb(49, 49, 49);
    color: rgb(49, 49, 49);
    border-radius: 8px;
    width: 40px;
    line-height: 38px;
    margin-left: 5px;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    background-color: rgb(163, 163, 163);
}

.toolbar > #open-menu:checked ~ .menu {
    left: 0;
}

/*****************  MENU  *****************/

.menu {
    position: absolute;
    z-index: 100;
    top: 50px;
    left: -360px;
    width: 90%;
    height: 100vh;
    border-top: 1px solid rgb(212, 212, 212);
    max-width: 360px;
    background-color: rgba(134, 134, 134, 0.904);
    transition: .5s ease-in;
}

.menu > .content-menu > li {
    padding: 10px;
    border-bottom: 1px solid rgb(182, 182, 182);
    cursor: pointer;
    font-family: 'mulish';
}

.menu > .content-menu > li:hover {
    background-color: beige;
}

/*****************  CONTENT  *****************/

.content-post {
    margin-top: 50px;
    font-family: 'mulish';
}

.content-post > .header > img {
    display: inline-block;
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    object-position: center;
}

.content-post > .header > p {
    font-family: 'mulish';
    font-size: 4vw;   /*Unidad vw para hacer letras responsivas*/
    position: absolute;
    z-index: 10;
    top: 70px;
    left: 20px;
    margin-right: 20px;
    background-color: rgba(250, 235, 215, 0.521);
    padding: 10px;
}

.content-post > .body {
    background-color: rgb(238, 238, 238);
    width: 90%;
    margin: auto;
    padding: 16px;
}

@media screen and (max-width: 500px) {
   .content-post > .body {
        width: 100%;
   } 
}

.content-post > .body > .title-post {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 13px;
}

.content-post > .body > .author {
    display: inline-block;
    font-style: italic;
}

.content-post > .body > .subtitle-post {
    margin-top: 13px;
    margin-bottom: 13px;
}

.content-post > .body > .text {
    font-size: 16px;
    /*padding: 0 0 0 28px;*/
    margin-bottom: 13px;
}

.content-post > .body > .code-block {
    border-radius: 8px;
    width: 100%;
    font-family: "Fira Code", monospace;
    font-size: 13px;
    overflow-x: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

.content-post > .body > img {
    display: block;
    width: 100%;
    max-height: 600px;
    margin: 0 auto 13px auto;
}

.content-post > .body > .steps-list {
    padding: 0 0 0 28px;
    font-size: 16px;
    margin-bottom: 13px;
}

/*****************  PROGRESS BAR  *****************/

.backmodal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.loader {
    width: 45px;
    height: 45px;
    border: 4px solid #ccc;
    border-top: 4px solid #00c853;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.backmodal #myProgress {
    width: 80%;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
}

.backmodal > #myProgress > #myBar {
    height: 22px;
    width: 0%;
    text-align: center;
    line-height: 22px;
    color: white;
    font-size: 13px;
    transition: width 0.2s linear, background-color 0.2s linear;
}