@font-face {
  font-family: 'Material Symbols Outlined';
  src: url('material-symbols-outlined.woff2') format('woff2');
  font-weight: 100 700;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
}
